<p class="mt-3">Pipes</p>
<hr />


<div class="row">
  <div class="col">
    <table class="table table-success table-striped">
      <thead>
        <tr>
          <th scope="col">Variable</th>
          <th scope="col">Pipe</th>
          <th scope="col">Resultado</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td> {{ nombre }} </td>
          <td> upperCase </td>
          <td>{{ nombre | uppercase }}</td>
        </tr>
        <tr>
          <td> {{ nombre }} </td>
          <td> lowerCase </td>
          <td>{{ nombre | lowercase }}</td>
        </tr>
        <tr>
          <td> {{ nombre }} </td>
          <td> slice:4 </td>
          <td>{{ nombre | slice:4 }}</td>
        </tr>
        <tr>
          <td> {{ PI }} </td>
          <td> number:'2.0-2' </td>
          <td>{{ PI | number:'2.0-2' }}</td>
        </tr>
        <tr>
          <td> {{ porcentaje }} </td>
          <td> percent </td>
          <td>{{ porcentaje | percent }}</td>
        </tr>
        <tr>
          <td> {{ porcentaje }} </td>
          <td> percent:'.1' </td>
          <td>{{ porcentaje | percent:'.1' }}</td>
        </tr>
        <tr>
          <td> {{ salario }} </td>
          <td> currency </td>
          <td>{{ salario | currency:'EUR' }}</td>
        </tr>
        <tr>
          <td> {{ fecha }} </td>
          <td> date </td>
          <td>{{ fecha | date }}</td>
        </tr>
        <tr>
          <td> {{ fecha }} </td>
          <td> date:'medium' </td>
          <td>{{ fecha | date:'medium' }}</td>
        </tr>
        <tr>
          <td> {{ fecha }} </td>
          <td> date:'short' </td>
          <td>{{ fecha | date:'short' }}</td>
        </tr>
        <tr>
          <td> {{ fecha }} </td>
          <td> date:'MMMM - dd' </td>
          <td>{{ fecha | date:'MMMM - dd':'':idioma }}</td>
        </tr>

        <tr>
          <td> {{ nombre }} </td>
          <td> custom mayuscula </td>
          <td>{{ nombre | mayusculas:1}}</td>
        </tr>
        <!-- ACTIVIDAD -->
        <!-- Van a crear un pipe, se le va a enviar un texto y un parametro
        que va hacer activar(true, false)

        van a crear un boton(click) que va modificar la variable activar

        contraseña123 - *************  -->

        <tr>
          <td> Activar contraseña {{ activar }} </td>
          <td> <button class="btn btn-primary" (click)="activar = !activar"> Activar/Desactivar </button> </td>
          <td>{{ nombre | contrasena:activar}}</td>
        </tr>


        <!-- ACTIVIDAD 2-->
        <!-- Van a crear un pipe, nombre capitalizar,  
          tips -> separa por letras
          tips2 ->cortar la palabra
          valor: andres HerRera bEnaVides -> Andres Herrera Benavides
         -->

        <tr>
          <td> {{ nombreM }} </td>
          <td> Capitalizar </td>
          <td>{{ nombreM | capitalizar}}</td>
        </tr>

        <!-- ACTIVIDAD 3-->
        <!-- crear un pipe , limit-string
          Hola andres como estas bien y tu mama > 15 letras -> Hola andres com... 
         -->
      </tbody>
    </table>
  </div>
</div>